# vscode
.vscode/

# python
__pycache__/

# project
*.json
*.log

# saved models and weights
ckpts/
*.pt
*.pkl
*.npy

# tree-sitter
tree-sitter/
parser/
*.so

# wandb
wandb/

# csn datasets
datasets/csn_*/*.jsonl
